In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import seaborn as sns
%matplotlib inline
plt.style.use("seaborn-dark")
plt.rcParams['figure.figsize'] = 11.7,8.27
sns.set(rc={'figure.figsize':(11.7,8.27)})
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
url='https://raw.githubusercontent.com/roopbiswas/chh-ola/master/train.csv?token=AIEZ6SC64IRPDGBKL5QC4VK5QQWRM'
df=pd.read_csv("/home/rituparno//lr2019/chh-ola/train.csv",encoding='utf7')
df.head()

/home/rituparno/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1,4,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,vendor_id,pickup_loc,drop_loc,driver_tip,mta_tax,distance,pickup_time,drop_time,num_passengers,toll_amount,payment_method,rate_code,stored_flag,extra_charges,improvement_charge,total_amount
0,0,1,170.000,233.000,1.83,0.5,0.700,04/04/2017 05:59:43 PM,04/04/2017 06:05:04 PM,1.000,0.000,1.000,1.000,N,1,0.3,9.13
1,1,2,151.000,243.000,3.56,0.5,4.640,04/03/2017 07:03:34 PM,04/03/2017 07:20:04 PM,1.000,0.000,1.000,1.000,N,1,0.3,21.36
2,2,2,68.000,90.000,1.5,0.5,1.290,04/03/2017 03:06:13 PM,04/03/2017 03:12:30 PM,2.000,0.000,1.000,1.000,N,0,0.3,8.8
3,3,2,142.000,234.000,1.5,0.5,2.740,04/04/2017 08:10:52 AM,04/04/2017 08:27:00 AM,1.000,0.000,1.000,1.000,N,0,0.3,14.8
4,4,2,238.000,238.000,0,0.5,0.450,04/05/2017 02:02:59 PM,04/05/2017 02:05:41 PM,6.000,0.000,2.000,1.000,N,0,0.3,4.8

In [ ]:
df['stored_flag'] = df['stored_flag'].apply(lambda x: 0 if x=='N' else 1)
df_mod = df
df.dropna(axis=0,inplace=True)
df['total_amount'] = df['total_amount'].astype(float)
df['driver_tip'] = df['driver_tip'].astype(float)
df['mta_tax'] = df['mta_tax'].astype(float)
df['pickup_loc'] = df['pickup_loc'].astype(int)
df['toll_amount'] = df['toll_amount'].astype(float)
df['extra_charges'] = df['extra_charges'].astype(float)
df['improvement_charge'] = df['improvement_charge'].astype(float)
df['vendor_id'] = df['improvement_charge'].astype(float)
df.info()

In [ ]:
df=df[df['total_amount'].between(left=0.1,right=600)]

In [ ]:
df['pickup_time'] = pd.to_datetime(df['pickup_time'])
df['drop_time'] = pd.to_datetime(df['drop_time'])
df['day_of_week'] = df['pickup_time'].dt.dayofweek
df['hour'] = df['pickup_time'].dt.hour
df['month'] = df['pickup_time'].dt.month
df['day'] = df['pickup_time'].dt.day
df['travel_time'] = [ z.total_seconds() for z in (df['drop_time'] - df['pickup_time'])]

In [ ]:
X = df.drop(['total_amount','ID','pickup_time','drop_time' ], axis=1)
y = df['total_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)



print("Train dataset size: ", X_train.shape[0])
print("Test size: ", X_test.shape[0])

In [ ]:
def model_results(X_train, y_train, X_test, y_test, model):
    """Print model parameters of RMSE and R-square on training and testing sets.
    """
    
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    print("----Training Data results----")
    print("RMSE: ${:.1f}".format(mean_squared_error(y_train, y_train_pred)**0.5))
    print("R2: {:.2f}\n".format(r2_score(y_train, y_train_pred)))    
    print("----Test Data results----")
    print("RMSE: ${:.1f}".format(mean_squared_error(y_test, y_test_pred)**0.5))
    print("R2: {:.2f}\n".format(r2_score(y_test, y_test_pred)))

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X = df.drop(['total_amount','ID','pickup_time','drop_time' ], axis=1)
y = df['total_amount']

sc.fit(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)